#admin-container {
    @apply bg-gray-800 w-screen min-h-screen flex text-white;

    nav { @apply w-1/6 bg-gray-700 shadow-center; }
    .content-container {
        @apply w-full min-h-screen flex flex-col p-2;
        @screen md { @apply p-6; }
    }

    // Navigations links on sidebar
    .nav-ul {
        a {
            @apply text-gray-500;
            &:hover { @apply text-white; }
            b { @apply hidden; }
            i { min-width: 25px; }
        }
    
        li {
            @apply w-full py-4 border-transparent flex justify-center;
            &:hover { 
                @apply bg-gray-800 border-brand-500;
                i { @apply text-brand-500; }
            }
            &.active {
                @apply bg-gray-800 border-brand-300 text-white;
                i { @apply text-brand-300; }
            }
        }
    
        @screen md {
            a i { @apply text-xl; }
        }
    
        @screen xl {
            a b { @apply inline; }
            a i { @apply mr-2; }
            li { @apply pl-8 pr-4 py-2 border-l-6 block; }
        }
    }
    // End of nav links on sidebar rules
    
    // Special metric blocks on dashboard
    .metric-block {
        @apply h-full w-full flex justify-between items-center py-4 px-8 bg-brand-500 text-white shadow-center;
    
        @screen lg { @apply w-1/3; }
    
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        .text   { @apply font-bold text-2xl; }
        .number { @apply font-black text-3xl text-right; }
    
        &.blue-gradient { background: linear-gradient(-20deg, #248ec3, #4cb6eb); }
        &.red-gradient { background: linear-gradient(-20deg, #c3243f, #eb4c67); }
        &.purple-gradient { background: linear-gradient(-20deg, #6b46c1, #9f7aea); }
    }
    // End of special metric block rules

    // Sections for the admin panel
    .section {
        @apply w-full flex flex-col mb-6;
        @screen lg { @apply flex-row; }

        .section-card {
            @apply w-full my-2 bg-gray-700 shadow-center;

            .card-title {
                @apply font-bold px-4 py-2 bg-brand-500;
                @screen md { @apply px-6 py-4; }
            }
            .card-content {
                @apply px-4 py-2;
                @screen md { @apply px-6 py-4; }
            }

            &:first-of-type { @apply my-0 mb-2; }
            &:last-of-type { @apply my-0 mt-2; }

            @screen lg {
                @apply my-0 mx-4;
                &:first-of-type { @apply my-0 mx-0 mr-2; }
                &:last-of-type { @apply my-0 mx-0 ml-2; }
                &:only-of-type { @apply mx-0 ml-0; }
            }
        }
    }
    // End of admin panel section rules

    // Special task list rules
    .task-list {
        li {
            @apply w-full flex items-center border-l-4 border-cta-500 pl-2 mb-2;
            @screen md { @apply pl-4 mb-4; }

            input { @apply mr-4; }
            div { @apply w-full flex flex-col; }
            h4 { @apply font-medium; }
            span { @apply opacity-75; }
            &:last-of-type { @apply mb-0; }
        }
    }
    // End of special task list rules

    // Special activity list rules
    .activity-list {
        li {
            @apply flex items-center mb-2;
            @screen md { @apply mb-4; }

            i { @apply text-3xl text-brand-500 mr-4; }
            span { @apply opacity-50; }
        }
    }

    .news-list {
        li {
            @apply flex items-center mb-4;
            @screen md { @apply mb-8; }

            &:last-of-type { @apply mb-0; }

            i {
                @apply text-2xl mr-8;
                @screen md { @apply text-5xl; }
            }

            &.general i { @apply text-purple-500; }
            &.update i { @apply text-info-500; }
            &.bug-fix i { @apply text-cta-500; }
            &.event i { @apply text-success-500; }

            .mid {
                @apply flex flex-col w-full;

                h4 {
                    @apply text-lg flex items-center;
                    @screen md { @apply text-2xl; }
                }
                h5 {
                    @apply opacity-75 mb-2 text-sm;
                    @screen md { @apply text-base; }
                }
                p {
                    @apply hidden;
                    @screen md { @apply block; }
                }
            }
            .right {
                @apply flex flex-col ml-4 text-right;
                @screen md { @apply ml-8; }

                .number {
                    @apply text-lg font-bold;
                    @screen md { @apply text-3xl; }
                }
                .text {
                    @apply text-sm opacity-75;
                    @screen md { @apply text-base; }
                }
            }
        }
    }

    .player-list {
        li {
            @apply flex items-center mb-8;
            &:last-of-type { @apply mb-0; }

            .mid { @apply flex flex-col w-full; }

            a {
                @apply hidden;
                @screen lg { @apply block; }
                &:hover { @apply text-brand-500; }
            }
        }
    }

    .explanation {
        @apply hidden;
        @screen md { @apply inline; }
    }
}
